<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="methodReplacer" class="com.ki.example6.MsgReplacer1" />

    <bean id="replaceTarget" class="com.ki.example6.ReplacementTarget" >
        <replaced-method name="formatMsg" replacer="methodReplacer">
            <arg-type>String</arg-type>
        </replaced-method>
    </bean>

    <bean id="originTarget" class="com.ki.example6.ReplacementTarget" />
</beans>