<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="meatPizza" class="com.ki.xml.example5.Pizza" scope="prototype">
        <property name="isMeat" value="true" />
    </bean>

    <bean id="veggiePizza" class="com.ki.xml.example5.Pizza" scope="prototype">
        <property name="isVeggie" value="true" />
    </bean>

    <bean id="pizzaShop1" class="com.ki.xml.example5.PizzaShop" scope="prototype">
        <lookup-method name="makeMeatPizza" bean="meatPizza" />
        <lookup-method name="makeVeggiePizza" bean="veggiePizza" />
    </bean>

</beans>