<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- <context:property-placeholder location="classpath:xml/example12/test.properties"/>-->
    <context:property-placeholder location="classpath:xml/example12/test.properties" local-override="true" />

    <bean id="appProperty" class="com.ki.xml.example12.AppProperty">
        <property name="applicationHome" value="${application.home}"/>
        <!-- first find first use, so this is not your setting value, you need set [local-override] with placeholder -->
        <property name="userHome" value="${user.home}"/>
    </bean>
</beans>