<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ki.example4" />

    <!-- Dependency Injection from literals And Object Start -->
    <bean id="sexobj" class="java.lang.String" c:_0="NewString" />
    <bean id="student1" class="com.ki.example4.Student"
          p:studentName="NewStudent1"
          p:studentAge="20"
          p:sex-ref="sexobj"
    />

    <bean id="student2" class="com.ki.example4.Student"
          c:name="NewGood"
          c:age="30"
    />
    <!-- Dependency Injection from literals And Object End -->

    <!-- Dependency Injection from Collection Start -->
    <util:list id="newList" list-class="java.util.ArrayList">
        <value>Test List</value>
        <ref bean="sexobj" />
    </util:list>

    <util:set id="newSet" set-class="java.util.HashSet">
        <value>Test Set</value>
        <ref bean="sexobj" />
    </util:set>

    <util:properties id="newProp">
        <prop key="fristNo">One</prop>
        <prop key="secondNo">Two</prop>
    </util:properties>

    <util:map id="newMap" map-class="java.util.HashMap">
        <entry key="someboy" value="handsome" />
        <entry key="somegirl" value="beauty" />
    </util:map>
    <!-- Dependency Injection from Collection End -->
</beans>